@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import "../src/components/_components.css";

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

/* chrome */
*::-webkit-scrollbar {
  width: 0.5rem;
}
*::-webkit-scrollbar-thumb {
  background-color: darkgray;
}
/* firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: darkgray;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 80px;
    line-height: 120%;
  }
  h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 120%;
  }
  h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 120%;
  }
  h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 120%;
  }
  h5 {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 120%;
  }
  h6 {
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 120%;
  }
  body {
    font-family: "Josefin Sans", sans-serif;
    @apply bg-neutral-900 text-white;
  }
}

@layer utilities {
  .text-extera-large-bold {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
  }
  .text-extera-large-medium {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
  }
  .text-extera-large-light {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 140%;
  }
  .text-large-bold {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
  }
  .text-large-medium {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
  }
  .text-large-light {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 140%;
  }
  .text-medium-bold {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
  }
  .text-medium-medium {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
  }
  .text-medium-light {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
  }
  .text-small-bold {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
  }
  .text-small-medium {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
  }
  .text-small-light {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
  }
  .text-extra-small-bold {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 160%;
  }
  .text-extra-small-medium {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 160%;
  }
  .text-extra-small-light {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 160%;
  }
}

@layer components {
  /* to disapear the blue highligting on mobile ontouch */
  .no-select-a-tag {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .no-select-a-tag:focus {
    outline: none !important;
  }

  .subtitle1 {
    @apply text-base font-medium leading-7;
  }
  .subtitle2 {
    @apply text-sm font-medium leading-6;
  }
  .subtitle3 {
    @apply text-xs font-medium leading-5;
  }
  .button1 {
    @apply text-base font-bold leading-7;
  }
  .button2 {
    @apply text-sm font-bold leading-6;
  }
}
